@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

.carousel{
    height: 20%;
    width: 100%;
}

.carousel-inner{
  height: 20%;
    width: 100%;
}

.company{
  width: 100%;
  background-color: #0b03a1; 
  color: #ffffff;
  padding: 5%;
}

.company h1{
    font-family: 'Poiret One', sans-serif;
    color: #ffffff;
  }
  

.About{
    color: #fff;
    background: #0b03a1;
}

  .navbar{
    background: #0b03a1;
  }

  .navbar ul li a{
    color: #ffffff;
  }

  .slider-area{
    background: rgb(87, 87, 87);
    padding: 50px;
    position: relative;
    /* margin: 120px 0; */
  }

  .carousel-control-prev,.carousel-control-next{
    background: transparent;
  }

  .img-area{
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid #fff;
    border-radius:50%;
    overflow: hidden;
  }

  .img-area img{
    width: 100%;
  }

  .cap{
    position: static;
    padding-bottom: 15px;
    padding-top: 0%;
  }

  .indicate{
    bottom: -25%;
  }

  .brand{
    font-family: 'Poiret One', sans-serif;
  }
 
footer{
  margin-top: 0%;
  margin: 0%;
}   